:root {
    --tono: 324;
    --complementario: 54;
    --contraste: 214;

    --color-principal: hsla(var(--tono), 100%, 45%, 1);
    --color-principal-claro: hsla(var(--tono), 100%, 95%, 1);
    --color-principal-medio: hsla(var(--tono), 100%, 80%, 1);    
    --color-principal-oscuro: hsla(var(--tono), 100%, 15%, 1);

    --color-complementario: hsla(var(--complementario), 100%, 45, 1);
    --color-complementario-claro: hsla(var(--complementario), 100%, 95, 1);

    --color-contraste-oscuro: hsla(var(--contraste), 15%, 10, 1);
    --color-contraste-medio: hsla(var(--contraste), 20%, 40, 1);

    --color-blanco: white;

    --fuente-principal: 'DM Sans', sans-serif;
    --fuente-titulos: 'Gloock', serif;

    --light: 300;
    --normal: 400;
    --bold: 700;
}

span, p, a, h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    color: var(--color-contraste-oscuro);
}

.light {
    font-weight: var(--light);
}

.normal {
    font-weight: var(--normal);
}

.bold {
    font-weight: var(--bold);
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
}

h1 {
    font-family: var(--fuente-titulos);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.pagina1, .pagina2 {
    width: 100vw;
}

.pagina1 {
    background-color: var(--color-blanco);
    min-height: 100vh;
    overflow: hidden;
}

.pagina2 {
    background-color: var(--color-blanco);
    position: absolute;
    opacity: .8;
    min-height: 100vh;
    transition: .5 all ease-in-out;
    left: 100%; /* 0% = visible - 100% = oculto*/
    pointer-events: none;
    /* Grid para celular y tablet*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 250px 120px;
    grid: 20px;
}

.oculto {
    left: 0%;
    pointer-events: all;
}
