body {
    background: rgb(210,205,176);
    background: radial-gradient(circle, rgba(210,205,176,1) 0%, rgba(186,182,159,1) 79%, rgba(163,160,142,1) 100%);
    color: hsl(0, 0%, 22%);
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    height: 100%;
}

h1 {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3.2rem;
    text-shadow: 5px 5px 10px rgba(47, 47, 47, 0.2);
    padding: 2.5rem;
}

div {
    padding: 1rem;
}

.repo h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(0, 0%, 13%);
}

#footer {
    position: fixed; /* Fija el footer en la parte inferior */
    left: 0; /* Alinea a la izquierda */
    bottom: 0; /* Alinea a la parte inferior */
    text-align: center;
    padding: 10px;
    background-color: hsl(43, 4%, 39%);
    width: 100%;
}

#leyenda {
    font-size: 0.5rem;
    color: hsl(36, 5%, 79%);
}